.novetly {
  width: 100%;
  border: 1px solid #ebebeb;
  border-bottom: 5px solid #2eb398;
  background-color:  #ffffff;

  &__image {
    width: 100%;
  }

  &__data {
    padding: 30px;
  }

  &__title {
    margin-bottom: 30px;
    color:  #313131;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
  }

  &__description {
    color:  #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
  }
}