*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

@import './modules/vars';
@import './modules/form';
@import './modules/type';
@import './modules/fonts';
@import './modules/anim';