{
  "extends": [
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest": true,
    "jsx-control-statements/jsx-control-statements": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "plugins": [
    "jsx-control-statements"
  ],
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "camelcase": 1,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "consistent-return": 1,
    "default-case": 0,
    "dot-notation": 0,
    "eol-last": 1,
    "function-paren-newline": 0,
    "global-require": 0,
    "indent": 1,
    "max-len": 1,
    "object-curly-newline": 0,
    "object-curly-spacing": 1,
    "one-var": 1,
    "padded-blocks": 1,
    "prefer-destructuring": 1,
    "quote-props": 0,
    "quotes": 1,
    "semi": 1,
    "import/named": 1,
    "import/order": 1,
    "import/no-unresolved": 1,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "jsx-quotes": 1,
    "jsx-a11y/alt-text": 1,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/img-redundant-alt": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "no-shadow": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-plusplus": 0,
    "no-else-return": 0,
    "no-unused-vars": 1,
    "no-nested-ternary": 1,
    "no-param-reassign": 1,
    "no-confusing-arrow": 0,
    "no-trailing-spaces": 1,
    "no-restricted-globals": 1,
    "no-underscore-dangle": 0,
    "no-use-before-define": 1,
    "no-unused-expressions": 0,
    "react/sort-comp": 0,
    "react/jsx-indent": 1,
    "react/prop-types": 1,
    "react/no-string-refs": 1,
    "react/button-has-type": 1,
    "react/jsx-tag-spacing": 1,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-no-target-blank": 1,
    "react/no-unused-prop-types": 1,
    "react/require-default-props": 1,
    "react/jsx-filename-extension": 0,
    "react/no-did-update-set-state": 1,
    "react/jsx-curly-brace-presence": 1,
    "react/destructuring-assignment": 1,
    "react/prefer-stateless-function": 1,
    "react/jsx-one-expression-per-line": 0,
    "react/no-access-state-in-setstate": 1,
    "react/jsx-no-undef": [2, { "allowGlobals": true }],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "jsx-control-statements/jsx-choose-not-empty": 1,
    "jsx-control-statements/jsx-for-require-each": 1,
    "jsx-control-statements/jsx-for-require-of": 1,
    "jsx-control-statements/jsx-if-require-condition": 1,
    "jsx-control-statements/jsx-otherwise-once-last": 1,
    "jsx-control-statements/jsx-use-if-tag": 0,
    "jsx-control-statements/jsx-when-require-condition": 1,
    "jsx-control-statements/jsx-jcs-no-undef": 1
  }
}
