.client {
  position: absolute;
  flex-flow: column;
  background: #fff;
  box-shadow: -1px 3px 2px 1px #e4e4e4;
  top: 100%;
  right: 0;
  width: 300px;
  z-index: 999;
  &--open {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	          animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  &--close {
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  &__caption {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  &__avatar {
    margin-right: 15px;
  }

  &__logout-icon {
    width: 20px;
    margin-right: 15px;
  }

  &__name {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  &__logout {
    width: 100%;
    padding: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
}

@keyframes open {
  0% {
    
  }
}