.modal {
  position: absolute;

  &--position_right {
    top: 20px;
    right: 20px;
  }

  &--animation-open {
    -webkit-animation: bounce-in-top 1s both;
            animation: bounce-in-top 1s both;
  }

  &--animation-close {
    display: none;
  }
}