.modal {
  position: absolute;
  z-index: 9999;

  &--position_right {
    top: 20px;
    right: 20px;
  }

  &--position_center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &--animation-open {
    -webkit-animation: bounce-in-top 1s both;
            animation: bounce-in-top 1s both;
  }

  &--animation-close {
    display: none;
  }
}