.header {
  position: relative;
  background-color:  #262626;
  padding: 0 15px;
  z-index: 9999;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__user {
    margin-left: auto;
  }
}